<div id="dashboard-container"><div id="dashboard-content" content-adjust="content-adjust" style="height:94%"><div id="skn-event-edit"><event-form event-info="eventInfo" on-submit="editEvent()"></event-form></div></div></div>